<nav id="navtop">
  <div class="container-fluid">
<!--header navbar top left -->
      
    <ul class="nav navbar-nav" id="nav-left">
      <li>
        <a href="{{ path("homepage") }}" id="site_name">C'est du Chinois</a>
      </li>
      <li class="li-left">
        <a href="#"> 
          <i class="fa fa-history" aria-hidden="true"><span> Histoire</span></i>
        </a>
      </li>
      <li class="li-left">
        <a href="province.php">
          <i class="fa fa-globe" aria-hidden="true"><span> Géographie</span></i>
        </a>
      </li>
      <li class="li-left">
        <a href="#">
          <i class="fa fa-map-signs" aria-hidden="true"><span> Notions</span></i>
        </a>
      </li>
      <li class="li-left-hidden">
        <a href="#">
          <i class="fa fa-search" aria-hidden="true"><span> Rechercher</span></i>
        </a>
      </li>
      <li class="li-left-hidden">
        <a href="{{ path('logout') }}">
          <i class="fa fa-share-alt" aria-hidden="true"><span> Partager</span></i>
        </a>
      </li>
      
    </ul>

  
    <ul class="nav navbar-nav" id="nav-right">
      <li>
        <a href="#">
          <i class="fa fa-search" aria-hidden="true"><span> Rechercher</span></i>  
        </a>
      </li>
      <li>
        <a href="{{ path('logout') }}">
          <i class="fa fa-share-alt" aria-hidden="true"><span> Partager</span></i>
        </a>
      </li>
    </ul>
        
  </div>
</nav>