<div class="sidebar-header">
	<h3>Ma Cuisine</h3>
	<strong>MC</strong>
</div>

<ul class="list-unstyled components">
	<li>
		<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
			<i class="glyphicon glyphicon-home"></i>
			Acceuil
		</a>
	</li>
	<li>
		<a href="#">
			<i class="glyphicon glyphicon-info-sign"></i>
			Mes Infos
		</a>
		<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
			<i class="glyphicon glyphicon-duplicate"></i>
			Recettes
		</a>
		<ul class="collapse list-unstyled" id="pageSubmenu">
			<li><a href="{{ path("recette_index") }}">Mes Recettes</a></li>
			<li><a href="{{ path("recette_new") }}">Ajouter Recette</a></li>
		</ul>
	</li>
</ul>

<ul class="list-unstyled">
    {% if is_granted('ROLE_ADMIN') %}
		<li>
			<a href="{{ path('userlist') }}">
				<i class="glyphicon glyphicon-user"></i>
				Gestion Users
			</a>
		</li>
		<li>
			<a href="#">
				<i class="glyphicon glyphicon-th-list"></i>
				Liste de Demande
			</a>
		</li>
    {% endif %}
</ul>
