{% extends 'dashboard/index.html.twig' %}

{% block content %}
    <th>Saveur</th>
    {% for saveur in recette.saveur %}
        <td>{{ saveur }}</td>
    {% endfor %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/dashboard.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/dynamique_etape.js') }}"></script>
{% endblock %}



